<appSettings>
  <add key="horaLimite" value="23:59" />
  <add key="fechaDesdeFiltroDistribucion" value="01/01/2001" />
  <add key="fechaHastaFiltroDistribucion" value="31/12/2200" />
  <add key="cosechaDesdeFiltroDistribucion" value="0000" />
  <add key="cosechaHastaFiltroDistribucion" value="9999" />
  <add key="nombreSolicitante" value =""></add>
  <add key="cuitSolicitante" value =""></add>
  <add key="nombreIntermediario" value =""></add>
  <add key="cuitIntermediario" value =""></add>
  <add key="nombreRemitenteComercial" value =""></add>
  <add key="cuitRemitenteComercial" value =""></add>
  <add key="nombreCorredorComprador" value ="ASOC. DE COOP. ARGENTINAS CL"></add>
  <add key="cuitCorredorComprador" value ="30-50012088-2"></add>
  <add key="nombreMercadoATermino" value =""></add>
  <add key="cuitMercadoATermino" value =""></add>
  <add key="nombreCorredorVendedor" value =""></add>
  <add key="cuitCorredorVendedor" value =""></add>
  <add key="nombreRepresentanteEntregador" value =""></add>
  <add key="cuitRepresentanteEntregador" value =""></add>
  <add key="nombreDestinatario" value =""></add>
  <add key="cuitDestinatario" value =""></add>
  <add key="servicio_autenticacion" value="http://www.acabase.com.ar/Services/api/login/authenticate"></add>
  <add key="servidor_validacion" value="http://www.acabase.com.ar/Services"></add>
</appSettings>
