<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <add key="AUTH_SERVER" value="https://www.acabase.com.ar/WebServiceAuth/" />
    <add key="horaLimite" value="23:59" />
    <add key="fechaDesdeFiltroDistribucion" value="01/01/2001" />
    <add key="fechaHastaFiltroDistribucion" value="01/12/2200" />
    <add key="cosechaDesdeFiltroDistribucion" value="0000" />
    <add key="cosechaHastaFiltroDistribucion" value="8888" />
    <add key="nombreSolicitante" value="" />
    <add key="cuitSolicitante" value="" />
    <add key="nombreIntermediario" value="" />
    <add key="cuitIntermediario" value="" />
    <add key="nombreRemitenteComercial" value="" />
    <add key="cuitRemitenteComercial" value="" />
    <add key="nombreCorredorComprador" value="ASOC. DE COOP. ARGENTINAS CL" />
    <add key="cuitCorredorComprador" value="30-50012088-2" />
    <add key="nombreMercadoATermino" value="" />
    <add key="cuitMercadoATermino" value="" />
    <add key="nombreCorredorVendedor" value="" />
    <add key="cuitCorredorVendedor" value="" />
    <add key="nombreRepresentanteEntregador" value="" />
    <add key="cuitRepresentanteEntregador" value="" />
    <add key="nombreDestinatario" value="" />
    <add key="cuitDestinatario" value="" />
    <add key="nombreRemitenteComercialProductor" value="" />
    <add key="cuitRemitenteComercialProductor" value="" />
    <add key="nombreRemitenteComercialVentaPrimaria" value="" />
    <add key="cuitRemitenteComercialVentaPrimaria" value="" />   
    <add key="cuentaACACompradorPorDefecto" value="100001"></add>
    <add key="cuentaACAVendedorPorDefecto" value="100001"></add>
    <add key="cuentaACAConsignacionPorDefecto" value="100001"></add>
    <add key="log4net.Internal.Debug" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <system.net>
	<mailSettings>
	    <smtp from="logistica.aca@acacoop.com.ar" deliveryMethod="SpecifiedPickupDirectory">
        	    <specifiedPickupDirectory pickupDirectoryLocation="C:\inetpub\mailroot\Pickup"/>
	            <network host="localhost"/>
	    </smtp>
    </mailSettings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.20622.1351" newVersion="4.0.20622.1351" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<system.webServer>
    <handlers>
      <!--<add name="ExtensionlessUrlHandler-Integrated-4.0-ForApi" path="api/*" verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />-->
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <!--<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />-->
    </handlers>
  </system.webServer></configuration>
